 <nav id="topnav" class="defaultscroll is-sticky" style="background-color: rgba(255, 255, 255, 0.71)">
            <div class="container relative flex justify-between">
                <!-- Logo container-->
                <a class="logo" href="/">
                    <img src="assets/images/logo-dark.png" class="inline-block dark:hidden" alt="">
                    <img src="assets/images/logo-light.png" class="hidden dark:inline-block" alt="">
                </a>
                <!-- End Logo container-->

                <!-- Start Mobile Toggle -->
                <div class="menu-extras">
                    <div class="menu-item">
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Mobile Toggle -->

               

                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu justify-end">
                        <li class="has-submenu parent-menu-item">
                            <a href="/">Home</a>
                        </li>
                
                        <li><a href="/search" class="sub-menu-item">Search</a></li>
                
                        <li><a href="/contact" class="sub-menu-item">Contact</a></li>
                    </ul><!--end navigation menu-->

                   
                    
                </div><!--end navigation-->

                <!--Login button Start-->
                <ul class="buy-button list-none mb-0">
                    <li class="sm:inline ps-1 mb-0 hidden">
                        <a href="/login" class="btn bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white rounded-full">Login</a>
                    </li>
                    <li class="sm:inline ps-1 mb-0 hidden">
                        <a href="/register" class="btn bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white rounded-full">Signup</a>
                    </li>
                </ul>
                <!--Login button End-->
            </div><!--end container-->
        </nav>