/.idea/.idea.HackatonApp/.idea/.gitignore
/.idea/.idea.HackatonApp/.idea/encodings.xml
/.idea/.idea.hackatonapp.dir/.idea/.gitignore
/.idea/.idea.hackatonapp.dir/.idea/encodings.xml
/.idea/.idea.hackatonapp.dir/.idea/indexLayout.xml
/.idea/.idea.hackatonapp.dir/.idea/vcs.xml
